.introducao {
    align-items: center;
}

.introducao h1 {
    font-size: 4rem;
    line-height: 1.125;
    /* trabalhar em margin ou rem */
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    content: '';
    display: block;
    position: absolute;
    /* um elemento com position absolute se relaciona com o ultimo elemento pai com position: relative (por padrão é o body)*/
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center; /* .. no url para voltar uma pasta / alinhar svg ao centro*/
    z-index: -1;
    top: -15px;
    left: -40px;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 600px) {
    .introducao {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .introducao img {
        display: none;
    }
}